.chart-container {
    position: relative;
    width: 80%;
    margin: auto;
  }
  
  canvas {
    width: 100% !important;
    height: 400px !important;
  }
  
  .table-container {
    margin-top: 20px;
    width: 80%;
    margin: auto;
  }
  
  table {
    width: 100%;
  }