/* Общие стили для карточек */
mat-card {
    margin-bottom: 20px;
  }
  
  /* Стили для таблицы заказов */
  mat-table {
    width: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  mat-header-row, mat-row {
    background-color: #fff;
  }
  
  mat-header-cell, mat-cell {
    padding: 12px;
  }
  
  /* Стили для формы добавления заказа */
  mat-form-field {
    width: 100%;
    margin-bottom: 16px;
  }
  
  button[type="submit"] {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  