.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  font-size: 1.5rem;
  font-weight: bold;
  cursor: pointer;
  margin-right: 20px; /* Отступ от правой стороны логотипа */
}

.header__search {
  flex-grow: 1;
  margin: 0 1rem;
}

.header__buttons {
  display: flex;
  gap: 1rem;
}