.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1e3a8a;
    color: #fff;
    padding: 1rem 2rem;
  }
  
  .header__logo {
    font-size: 1.5rem;
    font-weight: bold;
  }

  app-categories-dropdown {
    padding-left: 1rem;
    margin-right: auto; 
  }
  
  