.dropdown {
  position: relative;
  width: auto; /* Автоматическая ширина */
}

.dropdown mat-menu {
  max-width: 30vw;  /* Максимальная ширина меню */
  max-height: 80vh;  /* Максимальная высота меню */
  overflow: auto;  /* Прокрутка для длинных списков */
}

.dropdown button {
  font-size: 1rem;
  padding: 8px 16px;
  border-radius: 4px;
}

mat-menu button {
  display: block;
  width: 100%;
  padding: 8px 16px;
}

mat-menu button:hover {
  background-color: #f0f0f0;
}

mat-divider {
  margin: 8px 0;
}
