<div *ngIf="groupedOrders.length > 0; else noOrders">
  <h2 class="orders-header">История заказов</h2>
  <div class="orders-container">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let group of groupedOrders">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <strong>{{ group.date | date: 'dd.mm.yyyy, HH:mm:ss' }}</strong>
          </mat-panel-title>
          <mat-panel-description>
            Общая стоимость: {{ group.totalPrice | currency:'RUB ' }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div *ngFor="let order of group.orders" class="order-item">
          <mat-card>
            <mat-card-title>{{ order.name }}</mat-card-title>
            <mat-card-subtitle>
              <span>Количество: {{ order.quantity }}</span>
              <span>Цена: {{ order.price | currency:'RUB ' }}</span>
            </mat-card-subtitle>
            <mat-card-content>
              <div>Статус: {{ getStatus(order.status) }}</div>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

<ng-template #noOrders>
  <mat-card class="no-orders-card">
    <mat-card-content>
      <p>Нет оплаченных или завершенных заказов.</p>
    </mat-card-content>
  </mat-card>
</ng-template>
