.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .layout__content {
    display: flex;
    gap: 2rem;
    padding: 2rem;
  }

  

  app-product-list{
    width: 100%; /* Контейнер занимает всю ширину экрана */
    margin: 0 auto; /* Центрируем, если max-width ограничен */
    padding-left: 1.5rem;  /*Внутренние отступы */
    box-sizing: border-box; /* Учитываем отступы в ширине */
  }
  
  .layout__footer {
    background-color: #1e3a8a;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
  }
