<div class="layout">
  <app-header></app-header>
  <div class="auth-container">
      <h2>{{ isRegisterMode ? 'Регистрация' : 'Вход' }}</h2>
      <form [formGroup]="authForm" (ngSubmit)="submit()">
        <label>
          Email:
          <input type="email" formControlName="email" />
        </label>
        <label>
          Password:
          <input type="password" formControlName="password" />
        </label>
        <button type="submit">{{ isRegisterMode ? 'Зарегистрироваться' : 'Войти' }}</button>
      </form>
      <div *ngIf="message" class="auth-message">{{ message }}</div>
      <button (click)="toggleMode()">Переключиться на {{ isRegisterMode ? 'вход' : 'регистрацию' }}</button>
      <button class="back-button" (click)="goToHome()">Вернуться на главную</button>
    </div>
