<div class="auth-container">
  <h2>{{ isRegisterMode ? 'Регистрация' : 'Вход' }}</h2>
  
  <!-- Форма авторизации или регистрации -->
  <form [formGroup]="authForm" (ngSubmit)="submit()" novalidate>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput id="email" type="email" formControlName="email" />
      <mat-error *ngIf="authForm.get('email')?.touched && authForm.get('email')?.invalid">
        <div *ngIf="authForm.get('email')?.errors?.['required']">Email обязателен</div>
        <div *ngIf="authForm.get('email')?.errors?.['email']">Введите корректный email</div>
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Пароль</mat-label>
      <input matInput id="password" type="password" formControlName="password" />
      <mat-error *ngIf="authForm.get('password')?.touched && authForm.get('password')?.invalid">
        <div *ngIf="authForm.get('password')?.errors?.['required']">Пароль обязателен</div>
        <div *ngIf="authForm.get('password')?.errors?.['minlength']">Пароль должен содержать хотя бы 6 символов</div>
      </mat-error>
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit" [disabled]="authForm.invalid" class="full-width">
      {{ isRegisterMode ? 'Зарегистрироваться' : 'Войти' }}
    </button>
  </form>

  <!-- Кнопка для переключения между входом и регистрацией -->
  <button mat-stroked-button (click)="toggleMode()" class="toggle-button">
    Переключиться на {{ isRegisterMode ? 'вход' : 'регистрацию' }}
  </button>
</div>
